body {
    margin: 0;
    background-color: #0c0a1f;
}

.border-spacing {
    padding: 0 86px 0 86px;
}

.d-none {
    display: none !important;
}

.btns {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    height: 25vh;
    background-image: url(./img/abstract_bg.jpg);
}

header h1 {
    font-family: 'pokemon-pocket-monk';
    -webkit-text-stroke: 2px #395da9;
    font-size: 64px;
    color: #ffcb05;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 16px;
    width: 25vw;
    height: 48px;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 50%;
    transform: scale();
    transition: all 225ms ease-in-out;
}

.search-btn:hover {
    background-color: rgba(255, 203, 5, 0.8);
    transform: scale(1.05);
}

.search-bar img {
    width: 54px;
}

.search-input {
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

.search-input:focus {
    outline: none;
}

nav {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding: 24px;
    background-color: rgb(54 54 54 / 50%);
    border-radius: 16px;
}

.home-btn img {
    width: 48px;
}

.show-favorites-btn img {
    width: 48px;
}

.pokedex-render-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding-top: 32px;
}

.pokedex-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 4px solid white;
    min-width: 250px;
    min-height: 300px;
    cursor: pointer;
}

.pokedex-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    /*background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);*/
    /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
    /* background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%); */
    /*background-image: linear-gradient(to right, #434343 0%, black 100%);*/
    /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
    /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
    /*background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);*/
    background-image: url(./img/grass_bg.jpg);
    background-size: cover;
}

.pokemon-id {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 16px;
    color: #ffffff;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 48px;
}

.pokemon-img {
    width: 120px;
    object-fit: contain;
    z-index: 1;
}

.pokemon-name {
    font-weight: 600;
    font-size: 24px;
}

.pokedex-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 150px;
    margin-top: -24px;
    background-color: white;
}

.pokemon-types {
    display: flex;
    gap: 8px;
}

.pokemon-type {
    padding: 8px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    text-shadow: 0 0 1px #000000;
}

.pokemon-details-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
}

.pagination-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 32px 0 32px 0;
}

.pokemon-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-details-card {
    width: 50vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 16px;
}

.pokemon-details-header {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 16px;
    margin-bottom: 16px;
}

.close-details-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    transition: scale 225ms ease-in-out;
}

.close-details-btn img {
    width: 32px;
}

.close-details-btn:hover,
.favorite-btn:hover {
    filter: brightness(0) saturate(100%) invert(73%) sepia(85%) saturate(652%) hue-rotate(352deg) brightness(101%) contrast(104%);
    transform: scale(1.05);
}

.pokemon-details-img {
    width: 200px;
}

.pokemon-details-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.pokemon-name-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.pokemon-details-name {
    color: white;
}

.favorite-btn img {
    width: 32px;
}

.pokemon-stats {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 80%;
}

.pokemon-stat {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.pokemon-stat span {
    color: white;
    width: 58px;
}

.pokemon-stat-max {
    color: white;
}

.progress {
    width: 100%;
    font-weight: 500;
}

.pokemon-details-footer {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.catch-me-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.catch-me-btn img {
    width: 48px;
    object-fit: contain;
}

.catch-me-btn:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97)
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@font-face {
    font-family: 'pokemon-hollow';
    src: url('./fonts/pokemon_hollow.ttf');
}

@font-face {
    font-family: 'pokemon-solid';
    src: url('./fonts/pokemon_solid.ttf');
}

@font-face {
    font-family: 'pokemon-pocket-monk';
    src: url('./fonts/pocket_monk.otf');
}